# Database
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=landing_beyritech

# SMTP (Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
EMAIL_TO=asistente.comercial@beyritech.com
